/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */

.recept p {
    font-size: 0.8rem;
    font-weight: 400;
}

.recept h1 {
    font-size: 1.2rem;
    font-weight: 800;
}

p,
h1 {
    margin: 0;
    padding: 0.5rem;
}

.main h1 {
    font-size: 1.75rem;
    font-weight: 800;
}

.main {
    width: 100%;
    min-height: 200px;
    background-image: url(images/salat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.minor {
    width: 100%;
    min-height: 90px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0.25rem;
    background-position: center;
} 

.chlebicek {
    background-image: url(images/chlebicek.jpg);
}

.cizrna {
    background-image: url(images/cizrna.jpg);
}

.burger {
    background-image: url(images/burger.jpg);
}

.tacos {
    background-image: url(images/tacos.jpg);
}

.recept {
    position: relative;
    text-align: left;
    color: white;
    text-shadow: 1px 1px #242424;
    padding: 0.5rem;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

.top-left {
    position: absolute;
    top: 0;
    left: 0;
  }

.top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

/*středně široké obrazovky:*/

@media screen and (min-width: 480px) {
    
    p,
    h1 {
        padding: 1.25rem;
    }

    .main h1 {
        font-size: 2rem;
    }

    .minor h1 {
        font-size: 1.5rem;
    }

    .box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
    }

    .main {
        min-height: 250px;
    }

    .minor {
        min-height: 150px;
        flex: 0 1 calc(50% - 0.25rem/2);
    }

}

/*široké obrazovky*/

@media screen and (min-width: 860px) {

    .main h1 {
        font-size: 3rem;
    }

    .minor h1 {
        font-size: 1.75rem;
    }

    .main {
        min-height: 400px;
        width: calc(100% / 3);
        float: left;
        margin-right: 0.25rem;
    }

    .minor {
        min-height: 200px;
        width: calc(100% / 3);
        margin-top: 0;
    }
}